*{
    /* margin:0; */
    box-sizing: border-box;
    font-family:'標楷體';
    overflow: hidden;
}

body{
    width: 1024px;
    height: 768px;
    /* background-color: lightblue; */
    margin:auto;
}

.header{
    border: 1px black solid;
    width:1024px;
    height:65px;
    /* background-color: lightsalmon; */
}

.container{
    width: 1024px;
    /* height: calc(768px - 65px); */
    /* flexbox 重要，aside和main才會換行 */
    display: flex;
    flex-wrap: wrap;
}

.aside{  
    width: 215px;
    height: calc(768px - 65px- 20px);
    /* background-color: yellow; */
    border: 1px black solid;
    border-top:0;
    border-right: 0;
    text-align: center;
}

.aside-header{
    width: 215px;
    height: calc(100% - 25px);
    /* background-color: lightcoral;  */
}

.intro{
    text-align: center;
    text-decoration: underline black;
    font-weight: 500;
    font-size: 24px;
    color:#FF00FF;
}

.club-1, .club{
    color:#000000;
    font-size: 16px;
    background-image: url(../images/menu1.png);
    width: 200px;
    height: 35px;
    text-align: center;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top:10px;
    margin-bottom:10px;

}

.club > a {
    color:#000000;
    font-size: 18px;
    text-decoration: none;
}

.club-1:hover{
    background-image: url(../images/menu2.png);
}

.club:hover{
    background-image: url(../images/menu2.png);
}

.aside-footer{
    width: 215px;
    height: 25px;
    /* background-color: grey;  */
    color: #000000;
    font-size: 16px;
    text-align: center;
}

.main-header{
    width: calc(1024px - 215px);
    height: 29px;
    color: #0000FF;
    font-size: 24px;
    /* background-color: lightskyblue;  */
    border-bottom: 1px black solid;
}

.main-footer{
    width: calc(1024px - 215px);
    height: calc(765px - 65px - 29px - 20px);
    /* background-color: purple;  */
}

.main-footer > iframe {
    width: 100%;
    height: 100%;
    /* background-color: purple;  */
}

.main{
    border: 1px black solid;
    border-top:0;
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: lightseagreen; */
}

.footer{
    border:1px black solid;
    border-top:0;
    width: 1024px;
    height: 20px;
    /* background-color: lightseagreen; */
    text-align: center;
}